<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubin.mapper.AppraiseMapper">

    <sql id="AppraiseColumns">
        appr_id As apprId,
        content AS content ,
        create_by AS createBy,
        phone AS phone,
        order_id As orderId,
        create_time AS createTime,
        update_time AS updateTime,
        level AS level,
        status AS status
    </sql>

    <insert id="insertAppraise" >
        INSET INTO appraise(
        content,
        create_by,
        phone,
        order_id,
        create_time,
        update_time,
        level,
        status
        )VALUES (
        #{content},
        #{createBy},
        #{phone},
        #{orderId},
        #{createTime},
        #{updateTime},
        #{level},
        #{status}
        )
    </insert>

    <update id="deleteAppraiseById">
        update appraise set
        status = "1"
        where appr_id = #{apprId}
    </update>

    <update id="updateAppraise" parameterType="com.yubin.entity.Appraise">
        update appraise set
        <if test="content !='' and content !=null " >content =#{content} </if>
        <if test="createBy !='' and createBy !=null " >create_by =#{createBy} </if>
        <if test="status !='' and status !=null " >status =#{status} </if>
        <if test="level !='' and level !=null " >level =#{level} </if>
        <if test="orderId !='' and orderId !=null " >order_id =#{orderId} </if>
        <if test="updateTime !=null " >update_time =#{updateTime} </if>
        where notice_id =#{noticeId}
    </update>

    <select id="selectAllAppraise" resultType="com.yubin.entity.Appraise">
        select
        <include refid="AppraiseColumns" />
         from appraise
    </select>

    <select id="selectAppraiseByid" resultType="com.yubin.entity.Appraise">
        select
        <include refid="AppraiseColumns"/>
        from appraise where status = '0' and appr_id = #{apprId}
    </select>


    <select id="selectAppraiseByPhone" resultType="com.yubin.entity.Appraise">
        select
        <include refid="AppraiseColumns"/>
        from appraise where phone = #{phone} and status = '0'
    </select>

</mapper>
