<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubin.mapper.CarMapper">

    <sql id="CarColumns">
        car_id As carId,
        type AS type ,
        color AS color,
        price AS price,
        deposit AS deposit,
        carname AS carname,
        user_phone AS userPhone,
        car_circle AS carCircle,
        create_time AS createTime,
        update_time AS updateTime,
        status AS status
    </sql>

    <insert id="insertCar" >
        insert INTO car(
        type,
        color,
        price,
        user_phone,
        deposit,
        carname,
        car_circle,
        create_time,
        update_time
        )VALUES (
        #{color},
        #{price},
        #{userPhone},
        #{deposit},
        #{carname},
        #{carCircle},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <update id="deleteCarById">
        update car set
        status = "1"
        where car_id = #{carId}
    </update>

    <update id="updateCar">
        update car set
        <if test="type !='' and type !=null " > type =#{type}, </if>
        <if test="color !='' and color !=null " >color =#{color} ,</if>
        <if test="price !='' and price !=null ">price =#{price}, </if>
        <if test="userPhone !='' and userPhone !=null ">user_phone =#{userPhone}, </if>
        <if test="deposit !='' and deposit !=null " >deposit =#{deposit}, </if>
        <if test="carname !='' and carname !=null " >carname =#{carname}, </if>
        <if test="carCircle !='' and carCircle !=null " >car_circle =#{carCircle}, </if>
        <if test="status !='' and status !=null " >status =#{status}, </if>
        <if test="updateTime !=null " >update_time =#{updateTime} </if>
        where car_id = #{carId}
    </update>

    <select id="selectAllCar" resultType="com.yubin.entity.Car">
        select
        <include refid="CarColumns" />
         from car
    </select>
    <select id="selectCarByid" resultType="com.yubin.entity.Car">
        select
        <include refid="CarColumns"/>
        from car where status = '0' and car_id = #{carId}
    </select>

    <select id="selectCarRecord" resultType="com.yubin.entity.Car">
        select
        <include refid="CarColumns"/>
        from car
    </select>
    <select id="selectCarByPhone" resultType="com.yubin.entity.Car">
        select
        <include refid="CarColumns" />
        from car where user_phone = #{phone}
    </select>
</mapper>
