<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubin.mapper.OrderMapper">

    <sql id="OrderColumns">
        order_id AS orderId,
        car_id AS  carId,
        car_price AS carPrice,
        car_type AS carType,
        car_color AS carColor,
        deposit AS deposit,
        user_id AS userId,
        username AS username,
        user_phone AS userPhone,
        user_address AS userAddress,
        handlers_name AS handlersName ,
        create_time AS createTime,
        update_time AS updateTime,
        status AS status
    </sql>

    <insert id="insertOrder" parameterType="com.yubin.entity.Order">
        INSERT INTO orderes(
         car_id,
         car_price,
         car_type,
         car_color,
         deposit,
         user_id,
         username,
         user_phone,
         user_address,
         handlers_name,
         create_time,
         update_time
        )VALUES (
        #{carId},
        #{carPrice},
        #{carType},
        #{carColor},
        #{deposit},
        #{userId},
        #{username},
        #{userPhone},
        #{userAddress},
        #{handlersName},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <update id="deleteOrder">
    update  orderes set
    status = "1"
    where order_id =#{orderId}
    </update>

    <update id="updateOrder">
        update orderes set
        <if test="carId !='' and carId !=null " >car_id =#{carId} ,</if>
        <if test="carPrice !='' and carPrice !=null " >car_price =#{carPrice}, </if>
       <if test="carType !='' and carType !=null " >car_type =#{carType} ,</if>
       <if test="carColor !='' and carColor !=null " >car_color =#{carColor} ,</if>
       <if test="deposit !='' and deposit !=null " >deposit =#{deposit} ,</if>
       <if test="userId !='' and userId !=null " >user_id =#{userId} ,</if>
       <if test="username !='' and username !=null " >username =#{username} ,</if>
       <if test="userPhone !='' and userPhone !=null " >user_phone =#{userPhone} ,</if>
       <if test="userAddress !='' and userAddress !=null " >user_address =#{userAddress} ,</if>
       <if test="handlersName !='' and handlersName !=null " >handlers_name =#{handlersName} ,</if>
       <if test="status !='' and status !=null " >status =#{status} ,</if>
       <if test="updateTime !=null " >update_time =#{updateTime} </if>
       where order_id =#{orderId}
    </update>

    <select id="selectAllOrder" resultType="com.yubin.entity.Order">
        select
        <include refid="OrderColumns"/>
        from orderes
    </select>

    <select id="selectOrderById" resultType="com.yubin.entity.Order">
        select
        <include refid="OrderColumns"/>
        from orderes where status = '0' and order_id = #{order_id}
    </select>

    <select id="selectOrderRecord">
        select
        <include refid="OrderColumns"/>
        from orderes
    </select>

</mapper>
